 .u-section-1 {
  min-height: 861px;
}

.u-section-1 .u-shape-1 {
  height: 403px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 422px;
  height: 422px;
  background-image: url("../images01.nicepage.com/b15ac4e95e629d189a3be88c/88eb6cf1419651419ee513f4/Remini20220610105837226.png");
  background-position: 50% 50%;
  margin: -343px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  width: 812px;
  margin: 50px auto 0;
}

.u-section-1 .u-text-2 {
  width: 543px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 49px auto 60px;
  padding: 8px 27px 8px 26px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 779px;
  }

  .u-section-1 .u-shape-1 {
    height: 298px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -238px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 22px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1070px;
}

.u-section-2 .u-shape-1 {
  height: 532px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -405px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1000px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0;
}

.u-section-2 .u-image-1 {
  height: 590px;
  margin-top: 63px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1000px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 611px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 16px 36px 0 60px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 16px 174px 0 auto;
  padding: 10px 46px 10px 45px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 808px;
  }

  .u-section-2 .u-shape-1 {
    height: 549px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -549px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 825px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-1 {
    height: 487px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 858px;
  }

  .u-section-2 .u-image-2 {
    height: 504px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 42px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 687px;
  }

  .u-section-2 .u-shape-1 {
    height: 387px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-image-1 {
    height: 391px;
    margin-top: 35px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 386px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1680px;
  }

  .u-section-2 .u-shape-1 {
    height: 1127px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-1 {
    height: 619px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 579px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1218px;
  }

  .u-section-2 .u-shape-1 {
    height: 367px;
    margin-top: 74px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -523px;
    margin-bottom: 48px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    height: 381px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 365px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 649px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 529px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 8.125rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 529px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 164px 30px 30px;
}

.u-section-3 .u-text-2 {
  margin: 142px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 436px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 436px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 631px;
}

.u-section-4 .u-line-1 {
  height: 6px;
  transform-origin: left center 0px;
  width: 795px;
  margin: 137px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  line-height: 1.6;
  margin: 46px 229px 0;
}

.u-section-4 .u-icon-1 {
  height: 94px;
  width: 94px;
  margin: 31px auto 0;
  padding: 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  width: 682px;
  margin: 34px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 129px;
    margin-right: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-line-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-line-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-line-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.125rem;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 765px;
}

.u-section-5 .u-gallery-1 {
  height: 190px;
  grid-gap: 17px 17px;
  width: 1117px;
  margin: 61px auto 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 38px auto 0 116px;
  padding: 8px 27px 8px 26px;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -38px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-5 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -38px 116px 0 auto;
  padding: 8px 27px 8px 26px;
}

.u-section-5 .u-gallery-2 {
  height: 190px;
  grid-gap: 17px 17px;
  width: 1117px;
  margin: 38px auto 0;
}

.u-section-5 .u-gallery-inner-2 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 38px auto 0 116px;
  padding: 8px 27px 8px 26px;
}

.u-section-5 .u-btn-5 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -38px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-5 .u-btn-6 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -38px 116px 0 auto;
  padding: 8px 27px 8px 26px;
}

.u-section-5 .u-gallery-item-7 {
  margin-left: 0;
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-5 .u-gallery-1 {
    height: 160px;
    width: 940px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-5 .u-gallery-2 {
    height: 160px;
    width: 940px;
  }

  .u-section-5 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1121px;
  }

  .u-section-5 .u-gallery-1 {
    height: 368px;
    width: 720px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-gallery-2 {
    height: 368px;
    width: 720px;
  }

  .u-section-5 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2041px;
  }

  .u-section-5 .u-gallery-1 {
    height: 828px;
    width: 540px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-gallery-2 {
    height: 828px;
    width: 540px;
  }

  .u-section-5 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1427px;
  }

  .u-section-5 .u-gallery-1 {
    height: 521px;
    width: 340px;
  }

  .u-section-5 .u-btn-1 {
    padding-right: 12px;
    padding-left: 11px;
  }

  .u-section-5 .u-btn-2 {
    padding-right: 12px;
    padding-left: 11px;
  }

  .u-section-5 .u-btn-3 {
    padding-right: 12px;
    padding-left: 11px;
  }

  .u-section-5 .u-gallery-2 {
    height: 521px;
    width: 340px;
  }

  .u-section-5 .u-btn-4 {
    padding-right: 12px;
    padding-left: 11px;
  }

  .u-section-5 .u-btn-5 {
    padding-right: 12px;
    padding-left: 11px;
  }

  .u-section-5 .u-btn-6 {
    padding-right: 12px;
    padding-left: 11px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 10px;
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images01.nicepage.com/b15ac4e95e629d189a3be88c/851feec31dac55b583b33ee6/w4-min.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 420px;
}

.u-section-7 .u-text-1 {
  width: 670px;
  font-size: 1.25rem;
  margin: 115px auto 0;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 320px;
  min-width: 160px;
  margin: 31px auto 60px;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

.u-section-7 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-7 .u-text-1 {
    height: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 265px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 199px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
  }
}